.copyable-label, .copyable-label:focused {
    -fx-background-color: transparent ;
    -fx-background-insets: 0px ;
}

.url {
	-fx-text-fill: #0000ff;
	-fx-underline: true;
}

.table_name {
	-fx-border-color: #000000;
	-fx-background-color: #ffffff;
}

.label_table {
	-fx-border-color: #000000;
	-fx-border-width: 2;
	-fx-background-color: #ffffff;
}