.label-statusbar
{
    -fx-font-weight: bold;
    /* -fx-background-color: #d0d0d0; */
    -fx-border-color: #959595;
    /* -fx-border-color: #ff0000; */
    /* -fx-border-insets: 5; */
    -fx-border-width: 1;
}
