.ObjTableView_Cell_First
{
	/*
    -fx-font-weight: bold;
    -fx-background-color: #d0d0d0;
    -fx-border-color: #959595;
    //-fx-border-insets: 5;
    -fx-border-width: 1;
    * 
    */
    -fx-background-color: -fx-box-border, -fx-inner-border, -fx-body-color;
    -fx-background-insets: 0, 0 1 1 0, 1 2 2 1;
    -fx-font-weight: bold;
    -fx-size: 2em;
    -fx-text-fill: -fx-selection-bar-text;
    -fx-padding: 0.166667em;	
    
}
